workflows/aliexpress/_ALIEXPRESS__02___Video_Generator.json
{
  "name": "[ALIEXPRESS] 02 - Video Generator",
  "nodes": [
    {
      "parameters": {
        "command": "={{ `ffmpeg -y -loop 1 -i \"/tmp/comfyui/output/${$json.body.session_id}/${$json.body.image_filename}\" -vf \"scale=-1:1280,crop=720:1280,zoompan=z='min(zoom+0.0015,1.5)':d=125:s=720x1280\" -c:v libx264 -t 4 -pix_fmt yuv420p \"/tmp/comfyui/output/${$json.body.session_id}/video_${$json.body.image_filename}.mp4\"` }}"
      },
      "id": "c74348f3-2122-4802-bf9f-e103dde377c9",
      "name": "Execute Command",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1260,
        460
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-video",
        "options": {}
      },
      "id": "9b0758c5-807d-472b-8b40-fa2f6a0592af",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1060,
        520
      ],
      "webhookId": "005844b0-3fd8-40ec-a828-c0f1b6d44b33"
    },
    {
      "parameters": {
        "fileSelector": "=/tmp/comfyui/output/{{$json.body.session_id}}/video_{{$json.body.image_filename}}.mp4",
        "options": {}
      },
      "id": "46eaa449-f490-4f62-9bc2-2b9313b3212e",
      "name": "Read/Write Files from Disk",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1480,
        460
      ]
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {}
      },
      "id": "9e53b4f2-5a95-4f3d-a3b0-3f6774d3ad9a",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1700,
        460
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "309dafe0-c536-4721-8c6f-41ee72372cbb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "53c66e947bc87bc13c805057c08678684ceea46142439d7ae45eeb2c316a4398"
  },
  "id": "3QuIDyCMNDSldrGT",
  "tags": []
}